/* Chart.js */
@-webkit-keyframes chartjs-render-animation {
    from {
        opacity: 0.99
    }

    to {
        opacity: 1
    }
}

@keyframes chartjs-render-animation {
    from {
        opacity: 0.99
    }

    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
}

.CtxtMenu_InfoClose {
    top: .2em;
    right: .2em;
}

.CtxtMenu_InfoContent {
    overflow: auto;
    text-align: left;
    font-size: 80%;
    padding: .4em .6em;
    border: 1px inset;
    margin: 1em 0px;
    max-height: 20em;
    max-width: 30em;
    background-color: #EEEEEE;
    white-space: normal;
}

.CtxtMenu_Info.CtxtMenu_MousePost {
    outline: none;
}

.CtxtMenu_Info {
    position: fixed;
    left: 50%;
    width: auto;
    text-align: center;
    border: 3px outset;
    padding: 1em 2em;
    background-color: #DDDDDD;
    color: black;
    cursor: default;
    font-family: message-box;
    font-size: 120%;
    font-style: normal;
    text-indent: 0;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    float: none;
    z-index: 201;
    border-radius: 15px;
    /* Opera 10.5 and IE9 */
    -webkit-border-radius: 15px;
    /* Safari and Chrome */
    -moz-border-radius: 15px;
    /* Firefox */
    -khtml-border-radius: 15px;
    /* Konqueror */
    box-shadow: 0px 10px 20px #808080;
    /* Opera 10.5 and IE9 */
    -webkit-box-shadow: 0px 10px 20px #808080;
    /* Safari 3 & Chrome */
    -moz-box-shadow: 0px 10px 20px #808080;
    /* Forefox 3.5 */
    -khtml-box-shadow: 0px 10px 20px #808080;
    /* Konqueror */
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color="gray", Positive="true");
    /* IE */
}

.CtxtMenu_MenuClose {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #AAA;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    /* Safari and Chrome */
    -moz-border-radius: 18px;
    /* Firefox */
    -khtml-border-radius: 18px;
    /* Konqueror */
    font-family: "Courier New", Courier;
    font-size: 24px;
    color: #F0F0F0
}

.CtxtMenu_MenuClose span {
    display: block;
    background-color: #AAA;
    border: 1.5px solid;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    /* Safari and Chrome */
    -moz-border-radius: 18px;
    /* Firefox */
    -khtml-border-radius: 18px;
    /* Konqueror */
    line-height: 0;
    padding: 8px 0 6px
        /* may need to be browser-specific */
}

.CtxtMenu_MenuClose:hover {
    color: white !important;
    border: 2px solid #CCC !important
}

.CtxtMenu_MenuClose:hover span {
    background-color: #CCC !important
}

.CtxtMenu_MenuClose:hover:focus {
    outline: none
}

.CtxtMenu_Menu {
    position: absolute;
    background-color: white;
    color: black;
    width: auto;
    padding: 5px 0px;
    border: 1px solid #CCCCCC;
    margin: 0;
    cursor: default;
    font: menu;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    float: none;
    z-index: 201;
    border-radius: 5px;
    /* Opera 10.5 and IE9 */
    -webkit-border-radius: 5px;
    /* Safari and Chrome */
    -moz-border-radius: 5px;
    /* Firefox */
    -khtml-border-radius: 5px;
    /* Konqueror */
    box-shadow: 0px 10px 20px #808080;
    /* Opera 10.5 and IE9 */
    -webkit-box-shadow: 0px 10px 20px #808080;
    /* Safari 3 & Chrome */
    -moz-box-shadow: 0px 10px 20px #808080;
    /* Forefox 3.5 */
    -khtml-box-shadow: 0px 10px 20px #808080;
    /* Konqueror */
}

.CtxtMenu_MenuItem {
    padding: 1px 2em;
    background: transparent;
}

.CtxtMenu_MenuArrow {
    position: absolute;
    right: .5em;
    padding-top: .25em;
    color: #666666;
    font-family: null;
    font-size: .75em
}

.CtxtMenu_MenuActive .CtxtMenu_MenuArrow {
    color: white
}

.CtxtMenu_MenuArrow.CtxtMenu_RTL {
    left: .5em;
    right: auto
}

.CtxtMenu_MenuCheck {
    position: absolute;
    left: .7em;
    font-family: null
}

.CtxtMenu_MenuCheck.CtxtMenu_RTL {
    right: .7em;
    left: auto
}

.CtxtMenu_MenuRadioCheck {
    position: absolute;
    left: .7em;
}

.CtxtMenu_MenuRadioCheck.CtxtMenu_RTL {
    right: .7em;
    left: auto
}

.CtxtMenu_MenuInputBox {
    padding-left: 1em;
    right: .5em;
    color: #666666;
    font-family: null;
}

.CtxtMenu_MenuInputBox.CtxtMenu_RTL {
    left: .1em;
}

.CtxtMenu_MenuComboBox {
    left: .1em;
    padding-bottom: .5em;
}

.CtxtMenu_MenuSlider {
    left: .1em;
}

.CtxtMenu_SliderValue {
    position: absolute;
    right: .1em;
    padding-top: .25em;
    color: #333333;
    font-size: .75em
}

.CtxtMenu_SliderBar {
    outline: none;
    background: #d3d3d3
}

.CtxtMenu_MenuLabel {
    padding: 1px 2em 3px 1.33em;
    font-style: italic
}

.CtxtMenu_MenuRule {
    border-top: 1px solid #DDDDDD;
    margin: 4px 3px;
}

.CtxtMenu_MenuDisabled {
    color: GrayText
}

.CtxtMenu_MenuActive {
    background-color: #606872;
    color: white;
}

.CtxtMenu_MenuDisabled:focus {
    background-color: #E8E8E8
}

.CtxtMenu_MenuLabel:focus {
    background-color: #E8E8E8
}

.CtxtMenu_ContextMenu:focus {
    outline: none
}

.CtxtMenu_ContextMenu .CtxtMenu_MenuItem:focus {
    outline: none
}

.CtxtMenu_SelectionMenu {
    position: relative;
    float: left;
    border-bottom: none;
    /* -webkit-box-shadow: none;
    -webkit-border-radius: 0px; */
}

.CtxtMenu_SelectionItem {
    padding-right: 1em;
}

.CtxtMenu_Selection {
    right: 40%;
    width: 50%;
}

.CtxtMenu_SelectionBox {
    padding: 0em;
    max-height: 20em;
    max-width: none;
    background-color: #FFFFFF;
}

.CtxtMenu_SelectionDivider {
    clear: both;
    border-top: 2px solid #000000;
}

.CtxtMenu_Menu .CtxtMenu_MenuClose {
    top: -10px;
    left: -10px
}

/* MJX-CHTML-styles */
mjx-container[jax="CHTML"] {
    line-height: 0;
}

mjx-container [space="1"] {
    margin-left: .111em;
}

mjx-container [space="2"] {
    margin-left: .167em;
}

mjx-container [space="3"] {
    margin-left: .222em;
}

mjx-container [space="4"] {
    margin-left: .278em;
}

mjx-container [space="5"] {
    margin-left: .333em;
}

mjx-container [rspace="1"] {
    margin-right: .111em;
}

mjx-container [rspace="2"] {
    margin-right: .167em;
}

mjx-container [rspace="3"] {
    margin-right: .222em;
}

mjx-container [rspace="4"] {
    margin-right: .278em;
}

mjx-container [rspace="5"] {
    margin-right: .333em;
}

mjx-container [size="s"] {
    font-size: 70.7%;
}

mjx-container [size="ss"] {
    font-size: 50%;
}

mjx-container [size="Tn"] {
    font-size: 60%;
}

mjx-container [size="sm"] {
    font-size: 85%;
}

mjx-container [size="lg"] {
    font-size: 120%;
}

mjx-container [size="Lg"] {
    font-size: 144%;
}

mjx-container [size="LG"] {
    font-size: 173%;
}

mjx-container [size="hg"] {
    font-size: 207%;
}

mjx-container [size="HG"] {
    font-size: 249%;
}

mjx-container [width="full"] {
    width: 100%;
}

mjx-box {
    display: inline-block;
}

mjx-block {
    display: block;
}

mjx-itable {
    display: inline-table;
}

mjx-row {
    display: table-row;
}

mjx-row>* {
    display: table-cell;
}

mjx-mtext {
    display: inline-block;
}

mjx-mstyle {
    display: inline-block;
}

mjx-merror {
    display: inline-block;
    color: red;
    background-color: yellow;
}

mjx-mphantom {
    visibility: hidden;
}

_::-webkit-full-page-media,
_:future,
:root mjx-container {
    will-change: opacity;
}

mjx-assistive-mml {
    position: absolute !important;
    top: 0px;
    left: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 1px 0px 0px 0px !important;
    border: 0px !important;
    display: block !important;
    width: auto !important;
    overflow: hidden !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

mjx-assistive-mml[display="block"] {
    width: 100% !important;
}

mjx-math {
    display: inline-block;
    text-align: left;
    line-height: 0;
    text-indent: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    font-size-adjust: none;
    letter-spacing: normal;
    word-wrap: normal;
    word-spacing: normal;
    white-space: nowrap;
    direction: ltr;
    padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] {
    display: block;
    text-align: center;
    margin: 1em 0;
}

mjx-container[jax="CHTML"][display="true"][width="full"] {
    display: flex;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
    padding: 0;
}

mjx-container[jax="CHTML"][justify="left"] {
    text-align: left;
}

mjx-container[jax="CHTML"][justify="right"] {
    text-align: right;
}

mjx-mn {
    display: inline-block;
    text-align: left;
}

mjx-c {
    display: inline-block;
}

mjx-utext {
    display: inline-block;
    padding: .75em 0 .2em 0;
}

mjx-mo {
    display: inline-block;
    text-align: left;
}

mjx-stretchy-h {
    display: inline-table;
    width: 100%;
}

mjx-stretchy-h>* {
    display: table-cell;
    width: 0;
}

mjx-stretchy-h>*>mjx-c {
    display: inline-block;
    transform: scalex(1.0000001);
}

mjx-stretchy-h>*>mjx-c::before {
    display: inline-block;
    width: initial;
}

mjx-stretchy-h>mjx-ext {
    /* IE */
    overflow: hidden;
    /* others */
    overflow: clip visible;
    width: 100%;
}

mjx-stretchy-h>mjx-ext>mjx-c::before {
    transform: scalex(500);
}

mjx-stretchy-h>mjx-ext>mjx-c {
    width: 0;
}

mjx-stretchy-h>mjx-beg>mjx-c {
    margin-right: -.1em;
}

mjx-stretchy-h>mjx-end>mjx-c {
    margin-left: -.1em;
}

mjx-stretchy-v {
    display: inline-block;
}

mjx-stretchy-v>* {
    display: block;
}

mjx-stretchy-v>mjx-beg {
    height: 0;
}

mjx-stretchy-v>mjx-end>mjx-c {
    display: block;
}

mjx-stretchy-v>*>mjx-c {
    transform: scaley(1.0000001);
    transform-origin: left center;
    overflow: hidden;
}

mjx-stretchy-v>mjx-ext {
    display: block;
    height: 100%;
    box-sizing: border-box;
    border: 0px solid transparent;
    /* IE */
    overflow: hidden;
    /* others */
    overflow: visible clip;
}

mjx-stretchy-v>mjx-ext>mjx-c::before {
    width: initial;
    box-sizing: border-box;
}

mjx-stretchy-v>mjx-ext>mjx-c {
    transform: scaleY(500) translateY(.075em);
    overflow: visible;
}

mjx-mark {
    display: inline-block;
    height: 0px;
}

mjx-mi {
    display: inline-block;
    text-align: left;
}

mjx-c::before {
    display: block;
    width: 0;
}

.MJX-TEX {
    font-family: MJXZERO, MJXTEX;
}

.TEX-B {
    font-family: MJXZERO, MJXTEX-B;
}

.TEX-I {
    font-family: MJXZERO, MJXTEX-I;
}

.TEX-MI {
    font-family: MJXZERO, MJXTEX-MI;
}

.TEX-BI {
    font-family: MJXZERO, MJXTEX-BI;
}

.TEX-S1 {
    font-family: MJXZERO, MJXTEX-S1;
}

.TEX-S2 {
    font-family: MJXZERO, MJXTEX-S2;
}

.TEX-S3 {
    font-family: MJXZERO, MJXTEX-S3;
}

.TEX-S4 {
    font-family: MJXZERO, MJXTEX-S4;
}

.TEX-A {
    font-family: MJXZERO, MJXTEX-A;
}

.TEX-C {
    font-family: MJXZERO, MJXTEX-C;
}

.TEX-CB {
    font-family: MJXZERO, MJXTEX-CB;
}

.TEX-FR {
    font-family: MJXZERO, MJXTEX-FR;
}

.TEX-FRB {
    font-family: MJXZERO, MJXTEX-FRB;
}

.TEX-SS {
    font-family: MJXZERO, MJXTEX-SS;
}

.TEX-SSB {
    font-family: MJXZERO, MJXTEX-SSB;
}

.TEX-SSI {
    font-family: MJXZERO, MJXTEX-SSI;
}

.TEX-SC {
    font-family: MJXZERO, MJXTEX-SC;
}

.TEX-T {
    font-family: MJXZERO, MJXTEX-T;
}

.TEX-V {
    font-family: MJXZERO, MJXTEX-V;
}

.TEX-VB {
    font-family: MJXZERO, MJXTEX-VB;
}

mjx-stretchy-v mjx-c,
mjx-stretchy-h mjx-c {
    font-family: MJXZERO, MJXTEX-S1, MJXTEX-S4, MJXTEX, MJXTEX-A ! important;
}

@font-face

/* 0 */
    {
    font-family: MJXZERO;
    src: url("../font/MathJax_Zero.woff") format("woff");
}

@font-face

/* 1 */
    {
    font-family: MJXTEX;
    src: url("../font/MathJax_Main-Regular.woff") format("woff");
}

@font-face

/* 2 */
    {
    font-family: MJXTEX-B;
    src: url("../font/MathJax_Main-Bold.woff") format("woff");
}

@font-face

/* 3 */
    {
    font-family: MJXTEX-I;
    src: url("../font/MathJax_Math-Italic.woff") format("woff");
}

@font-face

/* 4 */
    {
    font-family: MJXTEX-MI;
    src: url("../font/MathJax_Main-Italic.woff") format("woff");
}

@font-face

/* 5 */
    {
    font-family: MJXTEX-BI;
    src: url("../font/MathJax_Math-BoldItalic.woff") format("woff");
}

@font-face

/* 6 */
    {
    font-family: MJXTEX-S1;
    src: url("../font/MathJax_Size1-Regular.woff") format("woff");
}

@font-face

/* 7 */
    {
    font-family: MJXTEX-S2;
    src: url("../font/MathJax_Size2-Regular.woff") format("woff");
}

@font-face

/* 8 */
    {
    font-family: MJXTEX-S3;
    src: url("../font/MathJax_Size3-Regular.woff") format("woff");
}

@font-face

/* 9 */
    {
    font-family: MJXTEX-S4;
    src: url("../font/MathJax_Size4-Regular.woff") format("woff");
}

@font-face

/* 10 */
    {
    font-family: MJXTEX-A;
    src: url("../font/MathJax_AMS-Regular.woff") format("woff");
}

@font-face

/* 11 */
    {
    font-family: MJXTEX-C;
    src: url("../font/MathJax_Calligraphic-Regular.woff") format("woff");
}

@font-face

/* 12 */
    {
    font-family: MJXTEX-CB;
    src: url("../font/MathJax_Calligraphic-Bold.woff") format("woff");
}

@font-face

/* 13 */
    {
    font-family: MJXTEX-FR;
    src: url("../font/MathJax_Fraktur-Regular.woff") format("woff");
}

@font-face

/* 14 */
    {
    font-family: MJXTEX-FRB;
    src: url("../font/MathJax_Fraktur-Bold.woff") format("woff");
}

@font-face

/* 15 */
    {
    font-family: MJXTEX-SS;
    src: url("../font/MathJax_SansSerif-Regular.woff") format("woff");
}

@font-face

/* 16 */
    {
    font-family: MJXTEX-SSB;
    src: url("../font/MathJax_SansSerif-Bold.woff") format("woff");
}

@font-face

/* 17 */
    {
    font-family: MJXTEX-SSI;
    src: url("../font/MathJax_SansSerif-Italic.woff") format("woff");
}

@font-face

/* 18 */
    {
    font-family: MJXTEX-SC;
    src: url("../font/MathJax_Script-Regular.woff") format("woff");
}

@font-face

/* 19 */
    {
    font-family: MJXTEX-T;
    src: url("../font/MathJax_Typewriter-Regular.woff") format("woff");
}

@font-face

/* 20 */
    {
    font-family: MJXTEX-V;
    src: url("../font/MathJax_Vector-Regular.woff") format("woff");
}

@font-face

/* 21 */
    {
    font-family: MJXTEX-VB;
    src: url("../font/MathJax_Vector-Bold.woff") format("woff");
}

mjx-c.mjx-c31::before {
    padding: 0.666em 0.5em 0 0;
    content: "1";
}

mjx-c.mjx-c2264::before {
    padding: 0.636em 0.778em 0.138em 0;
    content: "\2264";
}

mjx-c.mjx-c1D434.TEX-I::before {
    padding: 0.716em 0.75em 0 0;
    content: "A";
}

mjx-c.mjx-c2C::before {
    padding: 0.121em 0.278em 0.194em 0;
    content: ",";
}

mjx-c.mjx-c1D435.TEX-I::before {
    padding: 0.683em 0.759em 0 0;
    content: "B";
}

mjx-c.mjx-c33::before {
    padding: 0.665em 0.5em 0.022em 0;
    content: "3";
}

.ace_cursor {
    border-left-width: 1px !important;
    color: #000 !important;
}

#languages-menu::-webkit-scrollbar,
#testcase-menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

div[class*=ace_br] {
    border-radius: 0 !important;
}

.copy {
    font-size: 12px;
    color: #4d4d4d;
    background-color: white;
    padding: 2px 8px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.footer {
    line-height: 1.4285em;
    font-family: "Lato", "Noto Sans CJK SC", "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "Droid Sans Fallback", "sans-serif";
    box-sizing: inherit;
    padding: 0 !important;
    border: none !important;
    color: #888;
    font-size: 1rem;
    margin: 35px 0 14px !important;
    position: relative;
    width: 100%;
    bottom: 0;
    background: none transparent;
    border-radius: 0;
    box-shadow: none;
}

.jumbotron1 {
    font-size: 18px;
}